:root {
    --tile-size: 25px;
    --field-size: 20;
    --gap-width: 0.3rem;
}

.field {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(var(--field-size), var(--tile-size));
    grid-template-columns: repeat(var(--field-size), var(--tile-size));
    padding: 0.5rem;
    gap: var(--gap-width);
    counter-reset: tile;
}

.tile {
    animation: field-appears 300ms linear;
    width: var(--tile-size);
    height: var(--tile-size);
    cursor: pointer;
    user-select: none;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

/* .tile::before {
    counter-increment: tile;
    content: counter(tile);
} */

.tile:hover {
    height: calc(var(--tile-size) * 1.1);
    width: calc(var(--tile-size) * 1.1);
    background: #b4b4b4;
    transition: width 100ms, height 100ms;
    transition-timing-function: linear;
}

@keyframes field-appears {
    from {
        width: 0px;
        height: 0px;
        color: white;
    }

    to {
        width: var(--tile-size);
        height: var(--tile-size);
        color: black;
    }
}


.red {
    color: red;
}

.mine {
    width: var(--tile-size);
    height: var(--tile-size);
}

.flipped {
    background: lightblue;
}